__pycache__/
*.pyc
.ipynb_checkpoints/
.secrets/
reports/*.png
tmp/
models/common_test_i_*_best.pt
models/common_test_i_resnet18_*.pt
models/test_v_calibrated_best.pt
models/test_v_focal_best.pt
models/test_v_focal_es_best.pt
models/test_v_focal_posaug_best.pt
models/test_v_posaug_best.pt
reports/common_test_i_resnet18_*.json
reports/test_v_calibrated*.json
reports/test_v_calibrated*_predictions.csv
reports/test_v_focal_es*.json
reports/test_v_focal_es*_predictions.csv
reports/test_v_focal_full*.json
reports/test_v_focal_full*_predictions.csv
reports/test_v_focal_posaug*.json
reports/test_v_focal_posaug*_predictions.csv
reports/test_v_posaug*.json
reports/test_v_posaug*_predictions.csv
